.box{
    display: grid;
    /* grid-template-columns: 200px 400px 400px 200px;
    grid-template-rows: 200px 500px 200px; */

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px 500px 200px;
}

.box1{
    border: 1px dotted rosybrown;
    background-color: aquamarine;
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1 fr);
    height: 500px;
}

.box11{
width: 100px;
height: 150px;
border: 1px solid red;
background-color: chocolate;
margin-top: 20px;
margin-left: 20px;
}

.box12{
width: 100px;
height: 150px;
border: 1px solid red;
background-color: cornflowerblue;
margin-top: 20px;
margin-right: 20px;
}

.box13{
width: 100px;
height: 150px;
border: 1px solid red;
background-color: darkolivegreen;
margin-top: 20px;
margin-left: 20px;
}

.box14{
width: 100px;
height: 150px;
border: 1px solid red;
background-color: darkslateblue;
margin-top: 20px;
margin-right: 20px;
}

.box2{
    border: 1px dotted rosybrown;
    background-color: brown;
    height: 500px;
}

.box3{
    border: 1px dotted rosybrown;
    background-color: green;
    height: 500px;
}

.box4{
    border: 1px dotted rosybrown;
    background-color: springgreen;
    height: 500px;
}